.figure-operator {
  fill: #fff;
  fill-opacity: 0.8;
  stroke: #666;
  stroke-miterlimit: 10px;
  stroke-width: 1.5px;
}

.figure-unit {
  fill: #fff;
  fill-opacity: 0.8;
  stroke: #666;
  stroke-miterlimit: 10px;
  stroke-width: 1.5px;
}

.figure-layer {
  fill: #fff;
  fill-opacity: 0.8;
  rx: 6px;
  ry: 6px;
  stroke: #666;
  stroke-miterlimit: 10px;
  stroke-width: 1.5px;
}

.figure-network {
  fill: #f0f0f5;
  rx: 6px;
  ry: 6px;
  stroke: none;
  stroke-miterlimit: 10px;
  stroke-width: 1.5px;
}

.figure-line {
  stroke: #666;
  stroke-width: 1.5px;
}

.figure-path {
  fill: #666;
  stroke: #666;
}

.figure-text {
  fill: #000;
  opacity: 0.6;
  font-size: 13px;
  font-family: "Open Sans";
}

.todo {
  color: red;
}
