.figure-element, .figure-line, .figure-path {
  stroke: #666;
  stroke-miterlimit: 10px;
  stroke-width: 1.5px;
}

.figure-element {
  fill: #fff;
  fill-opacity: 0.8;
}

.figure-line {
  fill: none;
}

.figure-path {
  fill: #666;
  stroke-width: 1px;
}

.figure-group {
  fill: #f9f9f9;
  stroke: #666;
  stroke-width: 1.5px;
  stroke-opacity: 0.6;
  stroke-miterlimit: 10px;
}

.figure-faded {
  opacity: 0.35;
}

.figure-box {
  rx: 6px;
  ry: 6px;
}

.figure-dashed {
  stroke: #666;
  stroke-width: 1.5px;
  stroke-miterlimit: 10px;
  stroke-dasharray: 5, 5;
}

.figure-text {
  fill: #000;
  opacity: 0.6;
  font-size: 13px;
}

.figure-text-faded {
  opacity: 0.35;
}

.figure-large-text {
  font-size: 18px;
}

.subscript {
  font-size: 8px;
}

.figure-film-generator {
  stroke: hsla(28, 28%, 45%, 1.0);
  fill: hsla(28, 89%, 86%, 1.0);
}

.figure-film-generator-shaded {
  stroke: hsla(28, 28%, 45%, 1.0);
  fill: hsla(28, 28%, 55%, 1.0);
}

.figure-filmed-network {
  stroke: hsla(310, 12%, 42%, 1.0);
  fill: hsla(310, 48%, 80%, 1.0);
}

.todo {
  color: red;
}

#attentional-ex2 .background {
  fill: rgb(240, 240, 245);
  fill-opacity: 0.8;
}

#attentional-ex2 .cell .node {
  fill: white;
  fill-opacity: 0.9;
  stroke: black;
  stroke-width: 1px;
  stroke-opacity: 0.25;
}

#attentional-ex2 .cell .shadow {
  fill: black;
  fill-opacity: 0.07;
}

#attentional-ex2 .cell text {
  font-size: 13px;
  fill-opacity: 0.6;
  text-anchor: middle;
  alignment-baseline: middle;
}

#attentional-ex2 .cell text.label {
  font-size: 13px;
  text-anchor: middle;
  alignment-baseline: middle;
}

#attentional-ex2 .link-group {
  transition: opacity, 0.3s, linear;
}

#attentional-ex2 .link-group .node-highlight {
  transition: stroke-opacity, 0.3s, linear;
  stroke: black;
  stroke-opacity: 0;
  fill: none;
}

#attentional-ex2 .link {
  fill: none;
  stroke: rgb(131, 89, 178);
  stroke-width: 2px;
  pointer-events: none;
}

#attentional-ex2 .arrow {
  stroke: black;
  stroke-opacity: 0.6;
}

#attentional-ex2 .cell:last-child .arrow:first-of-type {
  display: none;
}

.controls {
 text-align: right;
 margin-bottom: 1em;
}

.controls li {
  display: inline;
}

button {
  background: #000;
  color: #fff;
  border: 0;
  font-size: 0.85rem;
  border-radius: 0.25rem;
}

/*
Custom elements are inline by default
*/
toggle-section {
  display: block;
}

/*
Only applies if script runs and
`role="region"` is added
*/
toggle-section[role="region"] {
  border-width: 2px 0;
  border-style: solid;
}

toggle-section[role="region"] + toggle-section {
  border-top: 0;
}
