.figure-element, .figure-line, .figure-path {
  stroke: #666;
  stroke-miterlimit: 10px;
  stroke-width: 1.5px;
}

.figure-element {
  fill: #fff;
  fill-opacity: 0.8;
}

.figure-line {
  fill: none;
}

.figure-path {
  fill: #666;
  stroke-width: 1px;
}

.figure-group {
  fill: #eeeeee;
}

.figure-faded {
  fill: #aaa;
  fill-opacity: 0.8;
}

.figure-box {
  rx: 6px;
  ry: 6px;
}

.figure-dashed {
  stroke: #666;
  stroke-width: 1.5px;
  stroke-miterlimit: 10px;
  stroke-dasharray: 5, 5;
}

.figure-text {
  fill: #000;
  opacity: 0.6;
  font-size: 13px;
  font-family: "Open Sans";
}

.figure-large-text {
  font-size: 22px;
}

.subscript {
  font-size: 8px;
}

.figure-film-generator {
  stroke: #f44336;
  stroke-width: 1.5px;
  stroke-miterlimit: 10px;
}

.figure-film-layer {
  stroke: #ff9800;
  stroke-width: 1.5px;
  stroke-miterlimit: 10px;
}

.figure-filmed-network {
  stroke: #2196f3;
  stroke-width: 1.5px;
  stroke-miterlimit: 10px;
}

.todo {
  color: red;
}

